### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [1]:
emp_set = set()
print(emp_set)

set()

  Create a set of your favorite colors and print it.

In [2]:
colors ={'purple','yellow','green','black'}
print(colors)

{'black', 'purple', 'yellow', 'green'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [2]:
mix_set ={0,1,9,3.5,9.9,'zain'}
print(mix_set)

{0, 1, 3.5, 'zain', 9.9, 9}

Access the elements of a set using a loop and print each element.

In [5]:
for i in mix_set:
    print(i)

0
1
3.5
zain
9.9
9

add a new element to a set using the add() method.

In [6]:
mix_set.add(10)
print(mix_set)

{0, 1, 3.5, 'zain', 9.9, 10, 9}

Add multiple elements to a set using the update() method.

In [7]:
mix_set.update({11,12,15,18})
print(mix_set)

{0, 1, 3.5, 'zain', 9.9, 10, 9, 11, 12, 15, 18}

Remove and return an arbitrary element from a set using the pop() method.

In [8]:
print(mix_set.pop())
print(mix_set)

0
{1, 3.5, 'zain', 9.9, 10, 9, 11, 12, 15, 18}

Remove a specific element from a set using the remove() method.

In [9]:
mix_set.remove(1)
print(mix_set)

{3.5, 'zain', 9.9, 10, 9, 11, 12, 15, 18}

Remove a specific element from a set using the discard() method.

In [10]:
mix_set.discard(9.9)
print(mix_set)

{3.5, 'zain', 10, 9, 11, 12, 15, 18}

Convert a string to a set of unique characters.

In [12]:
st = "Narmagomedov"
st_to_set = set(st)
print(st_to_set)

{'o', 'd', 'r', 'm', 'N', 'e', 'a', 'g', 'v'}

Convert a set of characters to a string.

In [16]:
set_to_str = ''.join(st_to_set)
print(set_to_str)

odrmNeagv

Use the clear() method to remove all elements from a set.

In [17]:
mix_set.clear()
print(mix_set)

set()

Use the copy() method to create a shallow copy of a set.

Use the difference() method to find the difference between two sets.

In [18]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

print(s2.difference(s1))

{8, 9, 7}

Create two sets and find their union.

In [19]:
# s1 = {1,2,3,4,5,6}
# s2 = {4,5,6,7,8,9}

print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

    Create two sets and find their intersection.

In [20]:
# s1 = {1,2,3,4,5,6}
# s2 = {4,5,6,7,8,9}

print(s1.intersection(s2))

{4, 5, 6}

 Create two sets and find their difference.

In [21]:
# s1 = {1,2,3,4,5,6}
# s2 = {4,5,6,7,8,9}

print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}

    Create two sets and find their symmetric difference.

In [24]:
# s1 = {1,2,3,4,5,6}
# s2 = {4,5,6,7,8,9}
print(s1.symmetric_difference(s2))

{1, 2, 3, 7, 8, 9}

Check if one set is a subset of another.

In [25]:
set1 = {1,2,3,4,5,6}
set2 = {1,2,3,4,5,6,7,8,9}

print(set1.issubset(set2))
print(set2.issubset(set1))

True
False

    Check if one set is a superset of another.

In [26]:
# set1 = {1,2,3,4,5,6}
# set2 = {1,2,3,4,5,6,7,8,9}

print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
True

    Check if two sets are disjoint (have no common elements).

In [27]:
# set1 = {1,2,3,4,5,6}
# set2 = {1,2,3,4,5,6,7,8,9}

print(set1.isdisjoint(set2))
print(set2.isdisjoint(set1))

False
False