### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [1]:
empty_tuple = ()
print(empty_tuple)

()

Create a tuple of your favorite fruits and print it.

In [2]:
colors = ('purple','yellow','green','black')
print(colors)

('purple', 'yellow', 'green', 'black')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [3]:
mix = (8,6.5,4,6,7.1,'zain')
print(mix)

(8, 6.5, 4, 6, 7.1, 'zain')

  Access the first element of a tuple.

In [4]:
print(mix[0])

8

    Access the last element of a tuple.

In [5]:
print(mix[-1])

zain

Access the second and third elements of a tuple.

In [6]:
print(mix[1:3])

(6.5, 4)


    Slice a tuple to extract the first three elements.

In [7]:
n_t = mix[0:3]
print(n_t)

(8, 6.5, 4)

Slice a tuple to extract the last three elements.

In [8]:
n_t2 =mix[-3:]
print(n_t2)

(6, 7.1, 'zain')

   Slice a tuple to get every second element.

In [9]:
stp_t = mix[::2]
print(stp_t)

(8, 4, 7.1)

    Reverse a tuple using slicing.

In [10]:
rev_stp_t = mix[::-1]
print(rev_stp_t)

('zain', 7.1, 6, 4, 6.5, 8)

Create two tuples and concatenate them.

In [11]:
t1 = (1,2,3,4)
t2 = (5,6,7,'zain')
print(t1 + t2)

(1, 2, 3, 4, 5, 6, 7, 'zain')

    Repeat a tuple multiple times using the repetition operator.

In [12]:
rep_t = t1 * 5
print(rep_t)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

Find the index of a specific element in a tuple using the index() method.

In [15]:
# t1 = (1,2,3,4)
print(t1.index(3))
print(t1.index(4))

2
3

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [16]:
# rep_t = (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
print(rep_t.count(2))

5

Sort a tuple of numbers in ascending order.

In [17]:
# l1 = list(rep_t)
# l1.sort()
# sorted_rep_t = tuple(l1)
# print(sorted_rep_t)

sorted_rep_t = tuple(sorted(rep_t))
print(sorted_rep_t)

(1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4)

    Sort a tuple of strings in alphabetical order.

In [18]:
alp_t = ('zain','ali','ramiz','gohar','kashif')
# l1_alp = list(alp_t)
# l1_alp.sort()
# sorted_alp_t = tuple(l1_alp)
# print(sorted_alp_t)

sorted_alp_t = tuple(sorted(alp_t))
print(sorted_alp_t)

('ali', 'gohar', 'kashif', 'ramiz', 'zain')

Sort a tuple of tuples based on the second element of each inner tuple.

In [23]:
nested_tuple = ((6,4,5),(8,9,7),(3,1,2))
sorted_nested_tuple = sorted(nested_tuple, key= lambda x: x[1])
print(sorted_nested_tuple)

[(3, 1, 2), (6, 4, 5), (8, 9, 7)]

Compare two tuples to see if they are equal in both value and identity.

In [22]:
t4 = (1,2,3,4)
t5 = (1,2,3,4)

print(t4 == t5)

t6 = (1,2,3,4)
t7 = (1,2,4,3)

print(t6 == t7)

True
False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

    Pickle a tuple and save it to a file.

    Unpickle a tuple from a file and display its content.